.button {
  background-color: #008CBA; 
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #008CBA;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
  
.button:hover:enabled {
  background-color: transparent;
  color: #008CBA;
}

.button:active:enabled {
  padding: 7px;
  margin: 3px;
}

.button:disabled {
  background-color: grey;
  cursor: default;
  border: 2px solid grey;
}