@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gutter-v: 20px;
  --gutter-h: 20px;
  --header-height: 50px;
  --footer-height: 2.5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefbf5;
}

.body { 
  min-height: 100vh;
  margin: 0;
}

header { 
  min-height: var(--header-height);
  padding: 0 var(--gutter-h);
}

footer {
  min-height: var(--footer-height);
  padding: 0 var(--gutter-h);
}

.body { 
  display: flex;
  flex-direction: column; 
}

.body-content { 
  flex: 1;
  padding: var(--gutter-v) var(--gutter-h);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* FORMS */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 7px;
  width: max-content;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__group input::placeholder {
  color: transparent;
}

input:placeholder-shown ~ .form__label {
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: black;
}

.form__field:focus {
  padding-bottom: 6px;  
  border-width: 2px;
  border-image: linear-gradient(to right, black, blue);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: black;
}

.item-3 {
  width: calc(33.33% - 10px);
  padding: 5px;
  margin: 5px;
}

.item-4 {
  width: calc(25% - 10px);
  padding: 5px;
  margin: 5px;
}

/* button */
.btn,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 5px 10px;
 border: 1px solid;
 border-radius: 30px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
 transform: translateY(-1px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}
